<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ this.view() | titlecase }} Contact</mat-card-title>
  </mat-card-header>

  <mat-card-content class="mt-8">
    <form class="grid gap-4" [formGroup]="form">
      @let c = form.controls;

      <div class="flex gap-4">
        <div class="flex items-center justify-center w-xs">Name/Info</div>

        <div class="grid w-full">
          <mat-form-field>
            <mat-label>First Name</mat-label>

            <input matInput type="text" [formControl]="c.firstName" />
            @if (c.firstName.value) {
              <button matSuffix matIconButton aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Last Name</mat-label>

            <input matInput type="text" [formControl]="c.lastName" />
            @if (c.lastName.value) {
              <button matSuffix matIconButton aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>

          <mat-checkbox [formControl]="c.personal">Personal</mat-checkbox>
        </div>
      </div>

      <mat-divider />

      <div class="flex gap-4">
        <div class="flex items-center justify-center w-xs">Phone</div>

        <div class="grid w-full">
          <ng-container [formGroup]="c.phone">
            @let pC = form.controls.phone.controls;
            <mat-form-field>
              <mat-label>Phone</mat-label>

              <input matInput type="number" [formControl]="pC.phoneNumber" />
              @if (pC.phoneNumber.value) {
                <button matSuffix matIconButton aria-label="Clear">
                  <mat-icon>close</mat-icon>
                </button>
              }
            </mat-form-field>

            <mat-radio-group [formControl]="pC.phoneType">
              @for (kind of ['home', 'work', 'other']; track $index) {
                <mat-radio-button class="example-radio-button" [value]="kind">{{ kind }}</mat-radio-button>
              }
            </mat-radio-group>
          </ng-container>
        </div>
      </div>

      <mat-divider />

      <div class="flex gap-4">
        <div class="flex items-center justify-center w-xs">Address</div>

        <div class="grid w-full">
          <ng-container [formGroup]="c.address">
            @let aC = form.controls.address.controls;

            <mat-form-field>
              <mat-label>Address</mat-label>

              <input matInput type="text" [formControl]="aC.streetAddress" />
              @if (aC.streetAddress.value) {
                <button matSuffix matIconButton aria-label="Clear">
                  <mat-icon>close</mat-icon>
                </button>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>City</mat-label>

              <input matInput type="text" [formControl]="aC.city" />
              @if (aC.city.value) {
                <button matSuffix matIconButton aria-label="Clear">
                  <mat-icon>close</mat-icon>
                </button>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>State/Region</mat-label>

              <input matInput type="text" [formControl]="aC.state" />
              @if (aC.state.value) {
                <button matSuffix matIconButton aria-label="Clear">
                  <mat-icon>close</mat-icon>
                </button>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Zip/Postal Code</mat-label>

              <input matInput type="text" [formControl]="aC.postalCode" />
              @if (aC.postalCode.value) {
                <button matSuffix matIconButton aria-label="Clear">
                  <mat-icon>close</mat-icon>
                </button>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Home</mat-label>
              <mat-select [formControl]="aC.addressType">
                <mat-select-trigger> {{ aC.addressType.value | titlecase }} </mat-select-trigger>
                @for (addressKind of ['home', 'blok']; track $index) {
                  <mat-option [value]="addressKind">{{ addressKind }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-footer class="my-4 flex gap-4 px-4">
    <button mat-button class="flex-grow-1" [routerLink]="['../']">Cancel</button>
    <button matButton="filled" class="flex-grow-1" [disabled]="isProcessing()" (click)="saveChanges()">Save</button>
  </mat-card-footer>
</mat-card>
